{% extends 'noticias/base.html' %}

{% block conteudo %}
<h2>Últimas Notícias</h2>
<ul>
    {% for post in posts %}

    <li>
        Autor: {{ post.autor }}
        <br>
        <br>
        <br>
        {{ post.titulo }} - Status: {{ post.estados }}
        <br>
        <br>
        <br>
        Conteúdo: {{ post.conteudo }}
        <br>
        <br>
        <br>
        Categoria: {{ post.categoria }}
        <br>
        <br>
        <br>
        Tags: {{ post.tags }}
        <br>
        <br>
        <br>
        Data: {{post.data}}
    </li>
    <br>
    {% empty %}
    <li>Nenhuma notícia encontrada com os filtros aplicados.</li>
    {% endfor %}
</ul>
{% endblock %}